table {
  width: 1600px;
  position: absolute;
  top: 100px;
  left: 220px;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #717f88;
  color: white;
}

tr:hover {
  background-color: #cfe9ff;
}

.select-field{
  width: 120px;
  height: 30px;
}
