.custom-input {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.custom-input p {
  margin-right: 1rem;
}

.custom-input-field {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  width: 350px;
}

h1 {
  font-size: 25px;
  padding-bottom: 70px;
  padding-right: 80px;
}

p{
  font-size: 17px;
  font-family: Arial, serif;
}

.log_button {
  width: 150px;
  padding: 5px;
  margin-left: 380px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
